* {
    margin: 0;
    padding: 0;
}

:root {
    --color-one: #fa8072;
    --color-two: #B50F30;
    --color-three: #b22222;
    --color-four: #191970;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-two);
}

header {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    position: -webkit-sticky;
    top: 0;
    padding: 20px 20px;
    background-image: url("../images/golddots.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: 9999;
}
.polaroid a{
    background: #ffffff;
    display: inline;
    float: left;
    margin: 55px 75px 30px;
    padding: 15px 15px 30px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
    -webkit-transition: all .20s linear;
    -moz-transition: all .20s linear;
    transition: all .20s linear;
    z-index: 0;
    position: relative;
}

.polaroid a:after {
    color: 	#DC143C;
    font-size: 25px;
    content: attr(title);
    position: relative;
    top:15px;
}

.polaroid img {
    display: block;
    width: 200px;
    height: 300px;
}

.polaroid a:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
    z-index:10;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,.7);
    box-shadow: 0 10px 20px rgba(0,0,0,.7);
}

header h1 {
    font-weight: bold;
    font-size: 45px;
    color: var(--color-two);
    margin: 0;
    text-shadow: 0 0 12px rgba(0, 0, 0, .5);
    display: inline;
}

header a {
    text-decoration: none;
    color: var(--color-two);
}
 
header nav {
    margin: 7px 0;
}

header nav ul {
    display: inline-block;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 10px 15px;
    font-weight: bold;
    font-size: 25px;
    font-variant: small-caps;
}

section {
    padding: 50px;
}

footer {
    background: var(--color-one);
    width: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color: #191970;
    font-size: 18px;
    margin: 0;
}
 
/*ABOUT ME */
.me {
    background-color: #B0E0E6;
    font-style: normal;
    
}

.me h2 {
    font-size: 30px;
    text-decoration: underline;
    font-variant: small-caps;
    color: var(--color-two);
}

.me p ul li {
    font-weight: normal;
    font-size: 16px;
}

.me p {
    font-size: 20px;
}

.me h2:hover{
    color: 	#191970;
}

.me li::first-letter {
    color: #00FFFF;
}

/*WORK  */
.work {
    background-color: #B0E0E6;
    font-style: normal;
    font-size: 18px;
}

.work h2 {
    font-size: 30px;
    text-decoration: underline;
    font-variant: small-caps;
    color: var(--color-two);
}

.work p {
    font-size: 20px;
}
.work h4 {
    color: var(--color-four);
    font-weight: normal;
}
.work h2:hover {
    color: 	#191970;
}

.work li::first-letter {
    color: 	#00FFFF;
}

.work h3:hover {
    color: 	#00FFFF;
}

.work img {
    width: 500px;
    height: 200px;
}

.work img:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
    z-index:10;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,.7);
    box-shadow: 0 10px 20px rgba(0,0,0,.7);
}

ul.a {
    list-style-type: none ;
    font-size: 16px;
}

ul.a li {
    font-size: 16px;
}

/*CONTACT ME */
.contact {
    background-color: #B0E0E6;
    font-style: normal;
    font-size: 18px;
}

.contact h2 {
    text-decoration: underline;
    font-size: 30px;
    font-variant: small-caps;
    color: var(--color-two);
}

.contact h2:hover{
    color: 	#191970;
}

.contact address {
    font-style: normal;
    font-size: 18px;
    flex-wrap: wrap;
    align-items: center;
    color: white;   
    margin: 10px 30px;
    line-height: 2;
}

.contact address ul li {
    list-style: none;
    text-align: center;
}

.contact address ul li a {
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 16px;
    font-style: normal;
    color: var(--color-four);
    padding: 12px;
}

.contact address ul li a:hover {
    opacity: 0.85;
    color: #00FFFF;
}

.contact address ul li::first-letter {
    color: #00FFFF;
}

.media img {
    max-width: 25px;
}

.media li a {
    list-style: none;
    color: white;
}

.media li a:hover {
    color: #00FFFF;
}

/* GRID CONTAINER */
.grid-container {
    display: grid;
    grid-template-columns: 150px repeat(4, 1fr);
    grid-template-rows: auto repeat(1, 1fr);
    gap: 10px;
    background-color: var(--color-one);
    padding: 10px;
    align-content: space-around;
    text-align: center;
    color: white;
    list-style-position: inside;
    justify-content: space-evenly;
}

.grid-container > div {
    background-color: 	#008080;
    border: 1px solid rgb(5, 167, 189);
    text-align: center;
}

.grid-container h2 {
    grid-column: 1 / 1 / span 2 / span 1;
}
.grid-container p {
    text-decoration: none;
    font-size: 21px;
    color: var(--color-four);
}

.grid1 {
    grid-area: 1 / 2 / span 2 / span 4;
}

.grid2 {
    grid-column: 2 / span 1;
}

.grid3 ul {
    column-count: 3;
}

.grid3 {
    grid-column: 3 / span 3;
}

.grid4 {
    grid-area: 1 / 2 / span 1 / span 4;
}

.grid5 {
    grid-area: 2 / 2 / span 1 / span 4;
}

.grid-b {
    grid-area: 1 / 1 / span 2 / span 1;   
}

.grid-m {
    grid-area: 2 / 2 / span 1 / span 4;
}

/*MEDIA QUERY FOR SMALL DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
        padding-block-start: 0;
        justify-content: space-evenly;
    }

    .polaroid img {
        display: block;
        width: 100px;
        height: 150px;
    }

    .contact {
        font-size: 14px;
    }

    .media img {
        max-width: 8%;
    }
}

/*MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }
    
    ul.a {font-size: 8px;}

}

/*MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

    .media img {
        max-width: 15px;
    }

    ul.a {font-size: 8px;}

    .work h2 {
        text-decoration: underline;
        font-size: 10px;
        font-variant: small-caps;
        color: var(--color-two);
    }

    .contact h2 {
        text-decoration: underline;
        font-size: 2px;
        font-variant: small-caps;
        color: var(--color-two);
    }

    .media li a {
        line-height: 10px;
    }

    .grid2 {
        grid-area: 1 / 2 / span 1 /span 4;
    }

    .grid3 {
        grid-area: 2 / 2 / span 1 / span 4;
    }

    .grid4 {
        grid-area: 1 / 2 / span 1 / span 4;
    }
    
    .grid5 {
        grid-area: 2 / 2 / span 1 / span 4;
    }
}